<div id="openmodal">
    <div class="modal-body">
        <h5>Email:</h5>
        <input type="email" name="usuario" id="1"> 
        <h5>Contraseña:</h5>
        <input type="password" name="contraseña" id="2">
        <button class="btn btn-primary"> Login</button>
        <button class="botoncerrar" (click)="closeModal()" class="btn-close" aria-label="Close"  >X</button>
    </div>
 </div>
 
 <!--<div id="openmodal">
 <div class="modal" tabindex="-1">
    <div class= "modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ingrese para realizar cambios</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
        <div class="modal-footer">
              <button type="button" class="btn btn-primary">Login</button>
        </div>
      </div>
    </div>
  </div>
 </div> -->