    <div class=".container-sm" >
      <div class="card" style="width: 18rem;">
        <img src="/assets/perfilmalena.jpg" class="rounded-circle"  alt="...">
        <div class="card-body">
          <h2 class="card-text"> Malena Borgna</h2>
        </div>
      </div>
    </div>
      <div class="container">
        <div class="row g-0">
          <div class="col-sm-6 col-md-8">
            <figure>
              <blockquote class="blockquote">
                <p class="lead">Programadora Full Stack Jr.</p>
                <p class="lead">Profesora y Licenciada en Artes Visuales - Instructora en Arteterapia</p>
              </blockquote>
              
            </figure>
          </div>
          <div class="col-6 col-md-4">
            <app-boton-descargar class="botondescarga"></app-boton-descargar>
          </div>
        </div>
        
  
          
         
     
      </div>
      
      



